@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Poppins:wght@400;500;600;700&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base
{
    body
    {
        @apply bg-background text-primary antialiased font-sans selection:bg-accent selection:text-white;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6
    {
        @apply font-heading;
    }
}